In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [68]:
data = pd.read_csv("C:/Users/Ashish/Desktop/Python Tutorials/CSV files/50_Startups.txt")

In [69]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [70]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [71]:
X = data.iloc[:, :-1]

In [72]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [73]:
y = data.iloc[:, 4]

In [74]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [75]:
# Converting the categorical feature to numerical feature

states = pd.get_dummies(X["State"], drop_first = True) #drop_first = True means dropping the first column of dummies feature

In [76]:
# Drop the state categorical column\

X = X.drop("State", axis = 1)

In [77]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [78]:
# concat the dummies variable in X
X = pd.concat([X, states], axis = 1)

In [79]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [80]:
# Splitting The data to train test split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 1)

In [81]:
# Fitting The multiple Linear Regression to training set

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [82]:
# Calculating the accuracy

from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)

In [83]:
print(score)

0.9649618042059875

### As the R2 score is closer to 1, that means we have created a good model !!